[Unit]
Description=Gunicorn instance to serve website {{appname}}
After=mysql.service

[Service]
User={{user}}
Group={{group}}
WorkingDirectory={{application_dir|normpath}}
{# /usr/bin for git etc #}
Environment="PATH={{(application_dir ~ '/../venv/bin')|normpath}}:/usr/bin"
ExecStart={{(application_dir ~ '/../venv/bin/gunicorn')|normpath}} --workers {{workers}} --bind unix:app.sock app.app

[Install]
WantedBy=multi-user.target