[Unit]
Description=IRDS
[Mount]
What={{drive}}
Where={{application_dir}}
Type=cifs
Options=_netdev,iocharset=utf8,rw,uid={{uid}},gid={{gid}},forceuid,forcegid,mfsymlinks,vers={{version|default('3.0')}},
    {%- if credentials is defined -%}
    credentials={{credentials}}
    {%- else -%}
    user={{user}},password={{password}}
    {%- endif %}
TimeoutSec=30

[Install]
WantedBy=multi-user.target
